CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# SMTP Configuration
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

HTML2IMAGE_API_KEY=
